###############################################################
# This is a BASIC iroffer dinoex config file to be used with  #
# the NIBL auto-install script so you can learn what to do.   #
###############################################################
xdcclistfile /anywhere/you/want/bot.txt ##You don't need this if you want to use the built in webserver or xdcc send -1

pidfile /$HOME/iroffer/logs/bot.pid 
logfile /$HOME/iroffer/logs/bot.log
logstats yes
logrotate weekly 
statefile /$HOME/iroffer/logs/bot.state

connectionmethod ssl ##Don't change this.
local_vhost 0.0.0.0 ##Don't change this unless you're behind a NAT or properly configured firewall (lol you aren't)
nickserv_pass fuko434 ##Password you will use to register the bot with

server irc.rizon.net 6697 #IRC Server to connect to <server irc.address.com port> (6697 is SSL on Rizon)
channel #nibl
channel #other
channel #other2 -noannounce ##-noannounce if you don't want the bot to announce files in this chan

user_nick BOTNAMEHERE ##Nickname for the bot
user_realname NAME ##Anything, doesn't matter
user_modes +iB

loginname NAME ##Anything, doesn't matter

http_port 6969 ##Whatever port you want your xdcc http packlist to be on
http_vhost 0.0.0.0 ##Server IP here.
http_dir htdocs ##Don't change
http_index /? ##Don't change
http_geoip ##Don't change
http_search ##Don't change

weblist_info uptime "Uptime"
weblist_info running "Total Uptime" 
weblist_info maxspeed "Max speed"
weblist_info cap "Max bandwidth" 
weblist_info record "Record bandwidth"
weblist_info send "Record download"
weblist_info daily "Traffic today"
weblist_info weekly "Traffic this week"
weblist_info monthly "Traffic this month"

slotsmax 20 ##How many slots you want your bot to have
queuesize 10000 ##How big your want your bots download queue size to be
idlequeuesize 10000 ##See above, support XDCC BATCH (recommended high if you serve a lot)
maxtransfersperperson 2 ##How many downloads per user
maxqueueditemsperperson 1000 ##See below, supoport XDCC BATCH (recommend high if you serve a lot)
maxidlequeuedperperson 100
#overallmaxspeed 200000 ##Only set this if you want to cap your bots maximum upload speed
#transferlimits 0 0 10000000 ##Only set this if you want to set transfer limits day/week/month in MB
autoaddann http://nibl.co.uk/ ##The announce your bot will make when adding new files
autoadd_time 60 ##Don't change this
autoadd_delay 30 ##Don't change this
autoadd_dir /$HOME/files ##This should point to place you're putting whatever you serve.
announce_suffix_color 6,0,1 ##IRC colours for the announce
announce_seperator "*" ##Don't change this
announce_size ##Don't change this
include_subdirs ##Don't change this

adddir_exclude *sample* 
adddir_exclude *.md5
adddir_exclude *.nfo
adddir_exclude *.sfv
adddir_exclude *.txt 
adddir_exclude *.dat
adddir_exclude *.exe
adddir_exclude *.jpg 
adddir_exclude *.jpeg
adddir_exclude *.png
adddir_exclude *.txt~

requeue_sends ##Don't change this
send_batch ##Don't change this
filedir /$HOME/iroffer ##THIS POINTS TO IROFFER FILEDIR
hide_list_stop ##Don't change this
max_find 5 ##Don't change this
new_trigger 2 ##Don't change this
smallfilebypass 300 ##Don't change this
restrictlist ##Don't change this
restrictsend ##Don't change this
restrictprivlist ##Don't change this
restrictprivlistfull ##Don't change this
restrictprivlistmain ##Don't change this
restrictsend_warning ##Don't change this
restrictsend_timeout 300 ##Don't change this
restrictsend_delay 300 ##Don't change this
restrictprivlistmsg Packlist available @ http://yourdomain.com:port/ or /msg botname xdcc send -1
downloadhost *!*@* ##Don't change this
#uploadhost *!*@* #USE THIS ONLY IF YOU WANT TO ACCEPT ALL UPLOADS, OTHERWISE SPECIFY PROPER HOSTS
adminpass ##This should be what got when creating iroffer password
adminhost *!*@your.vhost.here.

uploaddir /$HOME/files ##Should be the folder containing the files you want to serve
#uploadmaxsize 2000000 ##Max possible upload size to bot in MB
status_time_dcc_chat 100 ##Don't change this
notifytime 60 ##Don't change this
extend_status_line ##Don't change this
no_status_log ##Don't change this
spaces_in_filenames ##Don't change this
direct_config_access ##Don't change this
noduplicatefiles ##Don't change this
no_duplicate_filenames ##Don't change this
monitor_files 10 ##Don't change this
atfind 3 ##Don't change this
slow_privmsg 0 ##Don't change this
quietmode ##Don't change this
ignoreuploadbandwidth ##Don't change this
removelostfiles ##Don't change this
download_completed_msg ##Message you want to send users when the file they're downloading finishes
creditline Brought to you by YourNameHere
send_listfile -1 ##Don't change this
flood_protection_rate 25 ##Don't change this
